<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
<head> 
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


    <p>Get your greeting <a href="/greeting">here</a></p>
    <p>All people <a href="/people">here</a></p>
    <p>Create new here <a href="/new">here</a></p>



    <div th:each="person : ${people}">
        <a th:text="${person.getName()}">user</a>
    </div>

</body>
</html>
